/*
 * bootstrap - typeahead bugfixes
 */

span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}


/* ==general styling
 ****************************************/

body {
    padding-top: 50px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#main {
    margin-top: -25em;
}

#main-advanced-search {
    position: absolute;
    top: 100px;
    min-height: 500px;
    min-width: 100%;
    background: rgba(183,66,47,0.7) !important;
    z-index: 1;
}

.form-control {
    background: rgba(0,0,0,0.7);
    color: white;
}

/* ==typography
 ****************************************/

a {
    color: #B7422F;
}

a:hover {
    color: #B7422F;
}

/* ==navbar
 ****************************************/

#navbar-top {
    background: #ecf0f1;
    min-height: 100px;
    /*box-shadow: 0 1px 1px black;*/
}

#user-auth {
    padding-top: 1em;
}

/* ==full width header
 ****************************************/

#quicksearch-header {
    margin-top: 50px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-size: cover !important;
}

#quicksearch-header h3 {
    margin-top: 50px;
    border: 3px solid white !important;
    padding: 0.5em;
}

#quicksearch-header > div > h3 {
    background: rgba(0,0,0,0.3);
    text-align: center;
    font-size: 2.5em;
    color: white;
}

#advanced-search-heading h3 {
    margin-top: 50px;
    border: 3px solid white !important;
    background: rgba(0,0,0,0.3);
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    color: white;
}

/* ==buttons
 ****************************************/

.btn-color-onb {
    background: #B7422F !important;
    color: #ecf0f1;
    border-radius: 0;
    min-width: 120px
}

button a,
button a:hover,
button a:visited{
    color: #ecf0f1;
}

/* ==search mask
 ****************************************/

/* changing default input style */
input,
input:focus,
input[type],
input[type]:focus {
    border: 2px solid white;
    border-radius: 0;
    outline: 0 none;
    font-size: 16px;
    font-weight: 200 !important;
    box-shadow: 0;
}

/* changing padding */
#onb-simple-search-form {
    padding-top: 2.5em;
}


/* formatting the button group */
#onb-btn-group {
    margin-top: 1em;
}

/* ==dropdown
 ****************************************/

.menu-large {
    position: static !important;
}
.search-menu {
    margin-top: 0.5em;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0;
    max-width: 100%;
    border-radius: 0;
}
.search-menu > li > ul {
    padding: 0;
    margin: 0;
}
.search-menu > li > ul > li {
    list-style: none;
}
.search-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.search-menu > li ul > li > a:hover,
.search-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background: #f5f5f5;
}

.dropdown-header {
    color: #B7422F;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .search-menu {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .search-menu > li {
        margin-bottom: 30px;
    }
    .search-menu > li:last-child {
        margin-bottom: 0;
    }
    .search-menu.dropdown-header {
        padding: 3px 15px !important;
    }
}

/* ==suggestions
 ****************************************/

.tt-menu {
    width: 100%;
    padding: 8px 0;
    margin-top: 0.5em;
    background-color: rgba(255,255,255,0.9);
    color: black;
    border: 2px solid white;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 1.1em;
    line-height: 1.4em;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #B7422F;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #B7422F;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}


/* ==placeholder
 ****************************************/

::-webkit-input-placeholder {
 font-size: 13px;
 color: white !important;
 font-weight: 500;
}
:-moz-placeholder { /* older Firefox*/
 font-size: 13px;
 color: white !important;
 font-weight: 500;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 13px;
 color: white !important; 
 font-weight: 500;
} 
:-ms-input-placeholder { 
 font-size: 13px; 
 color: white !important;
 font-weight: 500;
}

/* ==advanced search
 ****************************************/

.select-block {
    margin-bottom: 5px;
    border: 2px solid white;
    border-radius: 0;
}

.advanced-search-input {
    margin-bottom: 5px;
}

select {
    font-size: 13px !important;
    font-weight: 500;
}
select:focus {
    border: 2px solid white !important;
    border-radius: 0;
    outline: 0 none;
    font-size: 16px;
    font-weight: 200 !important;
    box-shadow: 0;
}

#advanced-search-select-block-lower {
    margin-top: 2em;
}

label {
    width: 100%;
    height: 34px;
    color: white;
    font-size: 13px;
    font-weight: 200 !important;
    text-align: right;
    padding: 3px 2px 0 10px;
}

.btn-advanced-search {
    background: #16a085;
    color: white;
    border-radius: 0;
}


/* ==facets
 ****************************************/

.facets-main-heading {
    margin: 0 !important;
    color: #B7422F;
    font-size: 1.5em;
    font-weight: 100 !important;
    text-transform: uppercase;
}

.facets {
    border-bottom: 2px solid #B7422F;
    margin-top: 2em;
    margin-right: 3em; !important;
}

.facets-heading {
    /*TODO*/
}

.facets-list {
    list-style: none;
    padding-left: 10px;
}

.facets-list-item {
    font-size: 14px;
}

.facets-list-item > a .badge {
    background: #B7422F;
    color: white;
    margin: -1em 0.5em 0 0.5em !important;
    font-size: 10px;
    font-weight: 100;
}

.facets-list-item > small {
    color: #B7422F;
    font-size: 10px;
    font-weight: 100;
}

/* ==results
 ****************************************/

.results-header-heading {
    margin: 0 !important;
}

.pagination > li > a {
    color: #B7422F;
    border: 0 !important;
}

.pagination > .active > a {
    background: white !important;
    color: black;
}


#results-list {
    /*TODO*/
}

/*TODO .result-padding-top instead of three identical classes
    .result-*
*/
.result-number {
    color: #5e5e5e !important;
    padding-top: 18px !important;
}
.result-thumb {
    padding-top: 18px !important;
}
.result-shelf {
    padding-top: 18px !important;
}

.result-summary h5 {
    line-height: 1.3em;
}

/*TODO correct styling*/
.result-pagination {
    height: 50px !important;
    line-height: 1em !important;
    margin: 0;
    padding: 5px 15px 5px 15px ;
}

#result-show-filter {
    padding-bottom: 5px;
}


/* bagdes for status and filters */

.badge {
    font-size: 0.8em;
    font-weight: 100;
}

.badge-available {
    background: #27ae60;
}

.badge-borrowed {
    background: #34495e;
}

.badge-check {
    background: #f39c12;
}

.badge-filter {
    background: #3498db;
}

/* ==footer
 ****************************************/

footer .navbar {
    margin: 0;
    border: 0;
    border-radius: 0 !important;
}

footer .navbar-brand {
    position: absolute;
    bottom: 40px;
}

/* ==media queries
 ****************************************/

@media (max-width: 768px) {

    #main-advanced-search {
        background: rgba(183,66,47,1) !important;
    }

    /**********************************
     * =advanced search xs
     **********************************/
    .advanced-search-first-row,
    .advanced-search-second-row,
    .advanced-search-third-row {
        margin-bottom: 20px;
    }

    #results {
        margin-top: 700px;
    }

    .badge {
        width: 100% !important;
    }

}